{{- $social := .Site.Params.profile.social }}
{{- with $social }}
<ul class="social-links">
    {{- range $name,$url := $social.links }}
        {{if isset $url 1}}
            {{- range $urls := $url }}
            <li><a href="{{- index $urls 1 | absURL }}" target="_blank" title="{{- $name }}" data-toggle=tooltip data-placement=top >
                    <i class="icon icon-{{$name}}"></i> {{index $urls 0}}</a></li>
            {{- end}}
            {{else}}

            <li><a href="{{- $url | absURL }}" target="_blank" title="{{- $name }}" data-toggle=tooltip data-placement=top >
                <i class="icon icon-{{$name}}"></i></a></li>
            {{end }}
    {{- end }}
</ul>
{{- end }}